@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';
/* You can add global styles to this file, and also import other style files */

body {
    background: #eeeeee;
    max-width: 100%;
    overflow-x: hidden;
}

.header-shadow {
    background: rgb(247,150,100);
    background: linear-gradient(90deg, rgba(247,150,100,1) 0%, rgba(245,81,89,1) 100%);
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    height: 60px;
}